body {
background-color: black;
color: #9f9f9f;
}

.center-main
{
    margin: 0 auto;
    width: 330px; 
    padding-top: 15%;
    font-size: 100px;
}
.center-secondary
{
    margin: 0 auto;
    width: 100px; 
    padding-top:2%;
}

.center-bio-title
{
    margin: 0 auto;
    width: 200px; 
    padding-top: 2%;
}
.center-bio-main
{
    margin: 0 auto;
    width: 600px; 
    height: 500px;
}

footer
{
    padding-top:15%;
}

/* unvisited link */
a:link {
color: #9f9f9f;
}

/* visited link */
a:visited {
color: #9f9f9f;
}

/* mouse over link */
a:hover {
color: lightgray;
}

/* selected link */
a:active {
color: lightgray;
}

/* social media*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

.fa:hover {
  opacity: 0.7;
}

.center-portfolio-title
{
    margin: 0 auto;
    width: 200px; 
    padding-top: 2%;
    text-align: center;
}
.center-portfolio-main
    {
        margin: 0 auto;
        width: 400px; 
        padding-top: 3%;
        font-size: 40px;
        text-align: center;
    }
    .center-portfolio-secondary
    {
        margin: 0 auto;
        width: 200px; 
        padding-top:2%;
        text-align: center;
    }