/*Variables in this file will be used across any extension files pulled in*/

:root {
   --unholy-background: #333;
   --unholy-font: #f2f2f2;
   --unholy-main: #d4351c;
   --unholy-secondary: #cf4530;
   --unholy-border: rgba(212, 53, 28, 0.25);
}
